<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>eShop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="text" v-model="searchLine" class="goods-search form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        <button class="search-button btn btn-primary" type="button" v-on:click="filterGoods">Искать</button>
      <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-end">
          <a class="btn btn-primary" href="index5.html" role="button">Список товаров</a>
          <button class="cart-button btn btn-sm btn-outline-secondary" type="button" v-on:click="viewBasket">Корзина</button>
          <a class="btn btn-primary" href="lesson4_form.html" role="button">Форма обратной связи</a>
        </form>
      </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="goods-list wrapper">
      <div class="card" v-for="good in filteredGoods" style="width: 18rem;">
        <img src="static/img/test.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ good.product_name }}</h5>
          <p class="card-text">Price: {{ good.price }}</p>
          <a v-on:click="getAddCartItem(good.id_product)" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
      <p v-if="filteredGoods.length == 0">«Нет данных»</p>
    </div>
    <hr>
    <div class="basket" v-if="isVisibleCart">
      <h3>Корзина:</h3>
      <div class="cart-element">
        <table>
          <tr><th>Название</th><th>Цена</th><th>Количество</th></tr> <!--ряд с ячейками заголовков-->
          <tr v-for="product in cartGoodsList.contents">
            <td>{{product.product_name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Итого в корзине на сумму:</td>
            <td>{{cartGoodsList.amount}}</td>
          </tr>
        </table>
      </div>
    </div>
  </main>
</div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<script src="lesson5.js"></script>
</html>