.wrapper {
    display: grid;
    padding: 1%;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.card {
    max-width: 150px;
}

header .btn-primary {
    margin-left: 35px;
    margin-right: 35px;
}

form .forms {
    margin-top: 15px;

}

.wrapper {
    padding: 50px 50px;
}

.alert-input {
    border-color: red;
}

.good-input {
    border-color: greenyellow;
}

table {
    margin: 10px 10px;
   border: 1px solid grey;
}
th {
   border: 1px solid grey;
}
td {
   border: 1px solid grey;
}

.search-line {
    display: flex;
}